<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/styles.css') }}">
    <title> Spotify Song Recommender </title>
</head>
<body>
    <h1> Spotify Recos </h1>
    <h2 id="subtext"> Do you have a song that you want to recommend <br> to someone but don't know if they've already heard it?</h2>
    <div class="titles">
        <p id="submit"> <a href="/login" class="button">Sign In With Your Spotify Account</a></p>
    </div>
</body>
</html>